.pointer {
  cursor: pointer;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100% !important;
}
.w-65 {
  width: 65%;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.lh-37 {
  line-height: 37px;
}
